{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Página Inicial{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
            <h1> Rango ok! {{user.username}} </h1>
        {% else %}
            <h1> Rango ok! NAO LOGADO </h1>
            <a href="/rango/login/">Login</a>
        {% endif %}

        <p> visits: {{ visits }}</p>

        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há categorias cadastradas!</p>
        {% endif %}

        <img src="{% static 'rango/images/foto.jpg' %}"><br />
{% endblock %}