<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Rango</title>
    </head>
    <body>
        <h1> Rango ok! </h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        <p>Não há categorias cadastradas!</p>
        {% endif %}
        <img src="{% static 'rango/images/foto.jpg' %}">
        <br />
        <a href="/rango/about/">About</a>

    </body>
</html>